<!doctype html>
<html>
<head>
  <title>${data.title}</title>
</head>
<body>
	<h1>Hello, ${data.fname} ${data.lname}</h1>
	<h3>Welcome to, ${data.host}'s bar.</h3>

<p>
	We offer you ${data.drinks[0]},
	${data.drinks[1]}, ${data.drinks[2]}.
</p>

<p>
master skeletal key: ${data.key}
</p>

</body>
</html>
