oracle/node_modules/
oracle/nautilus-services/build/                                                                               │··············
oracle/build/                                                                                                 │··············
oracle/nautilus-services/build/
build/                                                                                                        │··············
contract/node_modules/                                                                                        │··············
